<!--nav sidebar -->
<aside>
        <nav class="navbar navbar-inverse sidebar " role="navigation">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      
      <div class="nav-side-menu">
            <div id="sidebar-wrapper">
            <img src="./assets/images/vermeg-lgo1.png">
            <hr/>
                    <ul class="sidebar-nav" >
                    <li class="sidebar-brand " >   
                    </li>
                    
                    <li>
                            <a href="Indicateur" class="mb-4" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                                 <i class="fa fa-dashboard fa-lg">
    
                                 </i>  Dashboard</a>
                        </li>
                       
                    <li>
                        <a href="Projects" class="mb-4" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                             <i class="fas fa-clone">
                                 
                             </i>  Projects</a>
                    </li>
                    <li>
                        <a href="planning" class="mb-4" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                             <i class="fas fa-chart-bar">
                             </i>  Planification</a>

                    </li>
                    <li>
                            <a href="Dashboard" class="mb-4" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                                 <i class="fa fa-dashboard fa-lg">
    
                                 </i>  Projects Monitoring</a>
                        </li>
                    <li>
                        <a href="user" class="mb-4" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                            <i class="fa fa-users fa-lg">
                            </i>  Team Overview</a>
                    </li>
                </ul>
            </div>
      </div>
        </nav>
        
      </aside>